
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1491197686658-0 {
            min-height: 100px;
            width: 100px;
            background-color: rgba(194, 255, 47, 1);
            top: 24px;
            left: 24px;
            border-radius: 5px 5px 5px 5px;
        }
        
        .silex-id-1491197689537-1 {
            min-height: 100px;
            width: 100px;
            background-color: rgba(72, 255, 162, 1);
            top: 24px;
            left: 140px;
            border-radius: 5px 5px 5px 5px;
        }
        
        .silex-id-1491197957760-3 {
            min-height: 100px;
            width: 100px;
            background-color: rgba(98, 33, 255, 1);
            top: 24px;
            left: 253px;
            border-radius: 5px 5px 5px 5px;
        }
        
        .silex-id-1491197957412-2 {
            min-height: 100px;
            width: 100px;
            background-color: rgba(255, 19, 128, 1);
            top: 24px;
            left: 369px;
            border-radius: 5px 5px 5px 5px;
        }
        
        .silex-id-1491198993071-11 {
            min-height: 100px;
            width: 100px;
            top: 136px;
            left: 371px;
        }
        
        .silex-id-1491200154109-12 {
            min-height: 100px;
            width: 100px;
            top: 184px;
            left: 677px;
        }
        
        .silex-id-1491200225075-13 {
            min-height: 100px;
            width: 100px;
            top: 88px;
            left: 562px;
        }
    